@import "tailwindcss";
@layer components {
  .input {
    @apply 
      w-full
      h-12
      px-4
      bg-white
      border-2
      border-slate-300
      rounded-md
      text-lg
      text-slate-800
      placeholder-slate-400
      focus:outline-none
      focus:border-slate-700
      focus:ring-2
      focus:ring-slate-200;
  }
}
